# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import gmaps
import os

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_data_to_load = "../WeatherPy/output_data/cities.csv"

# Read city data into dataframe
city_data = pd.read_csv(city_data_to_load)
city_data.head()

,Unnamed: 0,city,lat,lon,MaxTemp,Humidity,Cloudiness,WindSpeed,Country,Date
0,0,Saint-Philippe,-21.36,55.77,78.80,78,0,18.34,RE,1608484290
1,1,Sinnamary,5.38,-52.95,82.92,75,84,7.76,GF,1608484290
2,2,Atuona,-9.80,-139.03,78.37,77,0,19.35,PF,1608484290
3,3,Kaeo,-35.10,173.78,59.00,96,43,3.00,NZ,1608484291
4,4,Hobyo,5.35,48.53,79.12,76,0,19.66,SO,1608484291

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [4]:
city_data = city_data.dropna()
# Store 'lat' and 'lon' into  locations 
locations = city_data[["lat", "lon"]] #.astype(float)
#locations.count()
# Convert Humidity to float and store
# HINT: be sure to handle NaN values

humidity = city_data["Humidity"].astype(float)

In [5]:
# Create a Humidityy Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=100, point_radius=2)
#heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
#                                 dissipating=False, max_intensity=100,
#                                 point_radius = 1)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [27]:
hot_df = city_data.copy()
hot_df = hot_df[(hot_df["MaxTemp"] >= 70) &
                       (hot_df["MaxTemp"] <= 80) &
                       (hot_df["Cloudiness"] == 0) &
                       (hot_df["Humidity"] < 80)]
hot_df.head(17)
hotel_df = hot_df[["city","Country","lat", "lon"]]
hotel_df.reset_index()

    index                  city Country    lat     lon
0       0        Saint-Philippe      RE -21.36   55.77
1       2                Atuona      PF  -9.80 -139.03
2       4                 Hobyo      SO   5.35   48.53
3      19                Yumbel      CL -37.08  -72.57
4      26             Carnarvon      AU -24.87  113.63
5      47  Makkah al Mukarramah      SA  21.43   39.83
6      58                 Umluj      SA  25.02   37.27
7      81                  Chui      UY -33.70  -53.46
8      88                Tanout      NE  14.97    8.89
9      94              Tessalit      ML  20.20    1.01
10    211    Comodoro Rivadavia      AR -45.87  -67.50
11    219            Valparaíso      CL -33.04  -71.63
12    282             Saint-Leu      RE -21.15   55.28
13    304               Salalah      OM  17.02   54.09
14    386                 Dakar      SN  14.69  -17.44
15    476            Nouadhibou      MR  20.93  -17.03
16    554              Jaguarão      BR -32.57  -53.38

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [21]:
hotel_df.reset_index()
hotel_df['HotelName'] = ""

hotel_df

,Unnamed: 0,city,lat,lon,MaxTemp,Humidity,Cloudiness,WindSpeed,Country,Date,HotelName
0,0,Saint-Philippe,-21.36,55.77,78.80,78,0,18.34,RE,1608484290,
2,2,Atuona,-9.80,-139.03,78.37,77,0,19.35,PF,1608484290,
4,4,Hobyo,5.35,48.53,79.12,76,0,19.66,SO,1608484291,
19,19,Yumbel,-37.08,-72.57,71.60,40,0,12.75,CL,1608484293,
26,26,Carnarvon,-24.87,113.63,77.00,73,0,25.28,AU,1608483995,
47,47,Makkah al Mukarramah,21.43,39.83,76.75,57,0,3.87,SA,1608484184,
58,58,Umluj,25.02,37.27,75.56,60,0,4.54,SA,1608484299,
81,81,Chui,-33.70,-53.46,74.62,43,0,15.90,UY,1608484303,
88,88,Tanout,14.97,8.89,76.87,17,0,9.69,NE,1608484229,
94,94,Tessalit,20.20,1.01,74.14,19,0,10.85,ML,1608484304,
211,211,Comodoro Rivadavia,-45.87,-67.50,77.00,31,0,11.41,AR,1608484247,
219,219,Valparaíso,-33.04,-71.63,71.60,43,0,4.70,CL,1608484130,
282,282,Saint-Leu,-21.15,55.28,78.80,78,0,14.99,RE,1608484333,
304,304,Salalah,17.02,54.09,77.00,61,0,2.24,OM,1608484337,
386,386,Dakar,14.69,-17.44,78.80,57,0,13.87,SN,1608484350,
476,476,Nouadhibou,20.93,-17.03,78.80,31,0,13.87,MR,1608484363,
554,554,Jaguarão,-32.57,-53.38,70.00,47,0,5.99,BR,1608484195,

In [8]:
# geocoordinates
target_coordinates = "14.69, -17.44"
target_radius = 5000
target_type = "lodging"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)
print(response.url)

https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=14.69%2C+-17.44&radius=5000&type=lodging&key=AIzaSyBzS13wtePBG6yLiUEH5G__3n0pHOUAHic

In [20]:
hotel_name = []
place_count = len(hotel_df)
place_count

# loop through all of the coordinates
i = 0
for i in range(0, place_count):
    lat = hotel_df.lat[i]
    lon = hotel_df.lon[i]
    target_coordinates = lat, lon
    target_radius = 5000
    target_type = "lodging"

    # set up a parameters dictionary
    params = {
        "location": target_coordinates,
        "radius": target_radius,
        "type": target_type,
        "key": g_key
    }

    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # run a request using our params dictionary
    response = requests.get(base_url, params=params)
    print(i)
    print(response.url)
    #hotel_name.append(response['name'])
    #print(hotel_name)

0
https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-21.36&location=55.77&radius=5000&type=lodging&key=AIzaSyBzS13wtePBG6yLiUEH5G__3n0pHOUAHic

KeyError: 1

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure